[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
spacy = "*"
nltk = "*"
scikit-learn = "*"
tweepy = "*"
boto = "*"
pipenv = "2020.11.15"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}

[requires]
python_version = "3.8"
