<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How We Feel About</title>
  <meta name="description" content="Sentiment Analyzer Web App">
  <meta name="author" content="Soma, Solbi">
  <!-- <link rel="icon" type="image/png" href=""> -->
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/4277093d13.js" crossorigin="anonymous"></script>

  <script src="app.js" defer></script>
</head>

<body>
  <div class="conatainer">
    <!-- bar in the header -->
    <header id="header">
      <h1 class="header__title">
        How We Feel About
      </h1>
      <h3 class="header__explanation">
        Sentimental Anaylzer Web App
      </h3>

    </header>
    <!-- Recieve input from the user and post the form -->
    <div class="keywords">
      <div class="keywords__container">
        <!-- <span class="keywords__ask">Enter a keyword</span> -->
        <form action="/passKeyword/" method="post" class="keywords__form">
        <input type="text" name="content" placeholder="enter your feeling" class="keywords__text">
        <input type="submit" value="Result" class="keywords__button">
      </form>
      </div>

    </div>

    <div class="result">
      <div class="result__container">
        <div class="progress">
          <div class="progress__inner">
          </div>
        </div>
        <div class="result__emoji">
          <i class="far fa-angry result__angry"></i>
          <i class="far fa-smile result__happy"></i>
        </div>
        <div class="result__value">
          <h1 id="result">Test result: {{result}}</h1>
          <input type="hidden" id="myVar" name="variable" value="{{result}}">
        </div>
      </div>
    </div>
  </div>

</body>

</html>


<!-- <h1>this is teh todo page.</h1>


<ul> -->
<!-- getting the objects like this  -->
<!-- {% for todo_item in all_items %}  
  <li>{{todo__item.content}}

    <form action="/deleteTodo/{{todo_item.id}}" 
          style="display: inline;"
          method="post">{% csrf_token %}
      <input type="submit" value="Delete" />
    </form>

  </li>
  {% endfor %}
</ul>


<form action="/addTodo/" method="post">{% csrf_token %}
  <input type="text" name="content">
  <input type="submit" value="Add" />
</form> -->